/****************************************************

SELLVAS TEMPLATE TEMPLATE

Author: Ali Nasser
Website: https://www.behance.net/ali_mohamed_nasser
Adress: Damascus - Syria
Version: 1.0
Primary Use: Magazine, Blog

****************************************************/

/* Start Reset Everything And Global Style */
* { padding: 0; margin: 0; box-sizing: border-box; }
/* End Reset Everything And Global Style */

/* Start Top Navbar */
.top-nav { height: 35px; background-color: #23282D; border-bottom: none; border-radius: 0; }
.top-nav .container { padding: 0 20px; }

/* Start Top Navbar Links */
.top-links {
    height: 35px;
    line-height: 35px;
    font-size: .85em;
    font-family: Rajdhani, Arial, Tahoma;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
}

.top-links ul > li > a { 
	float: left; 
	padding-right: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #E6E5E5; 
    transition: all .2s ease-in-out;
}
/* End Top Navbar Links */

/* Start Top Navbar Social Media Icons */
.social-media ul > li > a > i {
    float: right;
    width: 30px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: .85em;
    color: #EEE;
    transition: all .2s ease-in-out;
}

.top-links ul > li > a:hover,
.social-media ul > li > a > i:hover { color: #EF4836; }
.social-media ul > .search-icon > a > i { margin-left: 10px; background-color: #EF4836; }
.social-media ul > .search-icon > a > i:hover { color: #EEE }
/* End Top Navbar Social Media Icons */

/* End Top Navbar */

/* Start Logo And Ads Area */
.logo-and-ads { width: 100%; padding: 20px 0; }
.logo-and-ads .container { padding: 0 20px; }
.logo-and-ads .container .row div { margin: 10px 0; }
.logo-and-ads .container .row .logo img { float: left; }
.logo-and-ads .container .row .ads img { float: right; }
/* End Logo And Ads Area */

/* Start Main Navbar */
.navbar { border-radius: 0; border: none; background-color: transparent; max-height: 45px; margin-bottom: 0; }
.navbar .container { padding: 0 20px; }
/* End Main Navbar */

/* Start Navbar Small Screen Toggle And Small Search Style */
.navbar-default .navbar-toggle {
    border: none;
    position: absolute;
    left: 15px;
    top: -3px;
    background-color: transparent;
    color: #E6E5E5;
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    transition: all .2s ease-in-out;
}

.navbar-default .navbar-toggle:focus { background-color: transparent;  }
.navbar-default .navbar-toggle:hover { background-color: transparent; color: #EF4836; }

.navbar-header .search-icon {
    border: none;
    outline: none;
    background-color: transparent;
    color: #F9F9F9;
    transform: translateY(-25%);
    transition: all .2s ease-in-out;
}

.navbar-header .search-icon:hover,
.navbar-header .search-icon-active { color: #0080CE; }
/* End Navbar Small Screen Toggle And Small Search Style */

/* Start Main Navbar Links */
.navbar-default .navbar-collapse {
	max-height: 45px;
    padding-left: 0;
    padding-right: 12px;
    position: relative;
    background-color: #23282D;
    border-bottom: 3px solid #EF4836;
    z-index: 6;
}

.navbar-default .navbar-collapse .nav > li:first-of-type { position: relative; }
.navbar-default .navbar-collapse .nav,
.navbar-default .navbar-collapse .nav > li { position: static; }

.navbar-default .navbar-collapse .nav > li > a {
    height: 45px;
    line-height: 45px;
    padding: 0 18px;
    margin-right: 3px;
    font-size: .9em;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #CCC;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in-out;
}

.navbar-default .navbar-collapse .nav > li > a:after {
	border: solid 5px rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #EF4836;
    bottom: 0;
    display: none;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-collapse .nav > li > a:hover,
.navbar-default .navbar-collapse .nav > .active > a,
.navbar-default .navbar-collapse .nav > .active > a > i,
.navbar-default .navbar-collapse .nav > li:hover > a > i { color: #F9F9F9; background-color: transparent; }
.navbar-default .navbar-collapse .nav > li:hover > a:after { display: block; }
/* End Main Navbar Links */

/* Start Saerch Area */
.navbar-default .navbar-collapse .random-icon {
	float: right;
    height: 45px;
    width: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #E6E5E5;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-collapse .random-icon:hover { color: #F9F9F9; }
.small-search-area { position: absolute; top: calc(100% + 9px); right: 15px; border: 1px solid #EEE; display: none !important; z-index: 2; }
.small-search-area-show { position: absolute; top: calc(100% + 6px); right: 15px; width: 250px; background: #FFF; display: block !important; }
.small-search-area form { width: 100%; height: 100%; padding: 10px; border-top: 3px solid #EF4836; }

.small-search-area form:after {
    border: solid 6px rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #EF4836;
    top: -12px;
    right: 8px;
}

.small-search-area input {
    width: 75%;
    float: left;
    height: 35px;
    outline: none;
    border: 1px solid #EEE;
    padding: 5px 10px;
    font-size: .9em;
    margin-bottom: 10px;
}

.small-search-area button {
    float: right;
    width: 25%;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: none;
    color: #F9F9F9;
    background-color: #23282D;
    font-size: .8em;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, Tahoma;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.small-search-area button:hover { background-color: #EF4836; }
/* End Search Area */

/* Start Review Navbar Content */
.navbar-default .navbar-collapse .nav > li > .content-review {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 100%;
    background-color: #23282D;
    opacity: 0;
    z-index: 15;
    pointer-events: none;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .15);
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-collapse .nav > li > .content-review h5 {
    text-transform: capitalize;
    letter-spacing: .4px;
    font-family: 'Droid Sans', Arial, Tahoma;
    font-size: 1.1em;
    font-weight: bold;
    color: #EEE;
    margin-bottom: 15px;
    line-height: 1.2;
    transition: all .2s ease-in-out;
}

.navbar-default .navbar-collapse .nav > li > .content-review p {
    color: #E6E5E5;
    font-size: .9em;
    font-family: 'Droid Sans', Arial, Tahoma;
    line-height: 20px;
}

.navbar-default .navbar-collapse .nav > li:hover > .content-review { pointer-events: auto; opacity: 1; }
.navbar-default .navbar-collapse .nav > li > .content-review .item:hover h5 { color: #EF4836; }

.navbar-default .navbar-collapse .nav > li > .content-review .post-meta {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 0.8em;
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Droid Sans', Arial, Tahoma;
    color: #AAA;
}

.navbar-default .navbar-collapse .nav > li > .content-review .post-meta > span { padding-right: 10px; }
.navbar-default .navbar-collapse .nav > li > .content-review .post-meta > span > i { padding-right: 3px; }
/* End Review Navbar Content */

/* Start Navbar Mega Menu */
.navbar-default .navbar-collapse .mega-menu { padding: 0; max-height: 340px; }

.navbar-default .navbar-collapse .mega-menu .tabs-section {
    background-color: #2F353B;
    padding: 25px 0;
    border-bottom: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-default .navbar-collapse .mega-menu .tabs-section > li {
    font-size: .85em;
    padding: 0 15px;
    margin-bottom: 3px;
    height: 38px;
    line-height: 38px;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
}

.navbar-default .navbar-collapse .mega-menu .tabs-section > li > a {
    text-decoration: none;
    color: #F9F9F9;
    font-weight: 600;
    font-family: 'Open Sans', Arial, Tahoma;
}
/* End Navbar Mega Menu */

/* Start Navbar Mega Menu Carousel */
.mega-menu .tab-content .content .owl-theme .owl-controls .owl-buttons { transition: all .3s ease-in-out; }
.navbar-default .navbar-collapse .mega-menu .tab-content { position: relative; left: 16.6666666%; }
.navbar-default .navbar-collapse .mega-menu .tab-content:hover .owl-buttons { opacity: 1; }

.navbar-default .navbar-collapse .mega-menu .tabs-section > li { 
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
    width: calc( 100% + 1px );
}

.navbar-default .navbar-collapse .mega-menu .tabs-section > .active-tab { border-color: #23282D; background-color: #23282D; }
.navbar-default .navbar-collapse .mega-menu .tab-content .content { padding: 0; }
.navbar-default .navbar-collapse .mega-menu .tab-content .content .container-fluid { padding: 15px; }
.mega-menu .tab-content .content .owl-theme .owl-controls .owl-buttons .owl-prev { top: 40%; left: -21px; }
.mega-menu .tab-content .content .owl-theme .owl-controls .owl-buttons .owl-next { top: 40%; right: -21px; }
.navbar-default .navbar-collapse .mega-menu .tab-content { padding: 0; }
.navbar-default .navbar-collapse .mega-menu .tab-content .content:not(:first-of-type) { display: none; }
/* Start Navbar Mega Menu Carousel */

/* Start Review Navbar Content Carousel */
.content-review .container-fluid { overflow: hidden; padding: 10px; padding-left: 15px; }
.content-review .container-fluid .owl-carousel .item { padding: 15px; color: #EF4836; text-align: center; }

.owl-theme .owl-controls .owl-buttons div {
    padding: 10px 16px;
    font-size: 1em;
    background-color: #EF4836;
    position: absolute;
    top: 46%;
    opacity: 0;
    border-radius: 0;
    transition: all .5s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons .owl-next { right: -15px; }
.owl-theme .owl-controls .owl-buttons .owl-prev { left: -20px; }
.owl-theme .owl-controls .owl-page { display: none; }
.content-review:hover .owl-buttons > div { opacity: 1; }
.content-review .container-fluid .owl-carousel .item > a { text-decoration: none; color: #EF4836; }
.content-review .container-fluid .owl-carousel .item > a > .post-image { max-width: 250px; position: relative; overflow: hidden; }

.content-review .container-fluid .owl-carousel .item > a > .post-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #EF4836;
    background-color: rgba(0, 0, 0, .25);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
} 

.content-review .container-fluid .owl-carousel .item > a > .post-image .overlay .icon {
    padding: 4px 9px 4px 12px;
    font-size: 1.5em;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    background-color: rgba(0, 0, 0, .25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.content-review .container-fluid .owl-carousel .item:hover > a > .post-image .overlay { opacity: 1; }
.content-review .container-fluid .owl-carousel .item > a > .post-image img { transition: all .3s ease-in-out; }
.content-review .container-fluid .owl-carousel .item:hover > a > .post-image img { transform: scale(1.1, 1.1); }
/* End Review Navbar Content Carousel */

/* Start Navbar Dropdown */
.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown { width: 180px; top: calc(100%);}
.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown .container-fluid { padding: 0; }

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
} 

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li > a {
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size: .85em;
    font-weight: 500;
    color: #E6E5E5;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li > .active { color: #EF4836; }

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li > a > span {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
    float: right;
    margin-top: 15px;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li > a > i { line-height: 45px; float: right; }
.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li:hover > a { color: #F9F9F9; }
.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li:hover { background-color: #EF4836; }
.navbar-default .navbar-collapse .nav > .dropdown-menus { position: relative; }

.navbar-default .navbar-collapse .nav > .dropdown-menus > .dropdown ul > li > ul {
    width: 180px;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #23282D;
    display: none;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .15);
}
/* End Navbar Dropdown */

/* Start Breaking News */
.breaking-news { position: relative; width: 100%; }
.breaking-news .container { padding: 15px 20px; padding-bottom: 0; }
.breaking-news .container .breaking { overflow: hidden; }

.breaking-news .container .title {
    background-color: #23282D;
    color: #F9F9F9;
    width: 120px;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: Rajdhani, Arial, Tahoma;
    font-weight: 600;
    letter-spacing: .1px;
    float: left;
    position: relative;
    z-index: 5;
}

.breaking-news .container .news { 
    width: calc(100% - 120px);
    height: 40px; 
    line-height: 40px;
    float: right; 
    text-align: left; 
    padding: 0 10px;
    overflow: hidden;
}

.breaking-news .container .news a { 
    text-decoration: none; 
    display: inline-block; 
    color: #23282D;
    font-family: "Droid Sans", Arial, Tahoma;
    font-weight: 700;
}

.breaking-news .container .news a:hover { text-decoration: underline; }
/* End Breaking News */

/* Start Main Carousel */
.home-posts { overflow: hidden; }
.home-posts .container { padding: 0 35px; }
.home-posts .container .row { margin-right: 0; }
.home-posts .container .row .item img { min-height: 402px; }
.home-posts .container .row .slider { padding: 0; }
.home-posts .container .row .main-carousel { margin-right: 2px; margin-bottom: 2px; }
.home-posts .container .row .main-carousel .carousel-indicators { text-align: right; left: 100%; width: auto; right: 15px; bottom: -5px; }

.home-posts .container .row .main-carousel .carousel-caption {
    background-color: rgba(0, 0, 0, .7);
    padding: 15px;
    overflow: hidden;
    width: 65%;
    height: 40%;
    left: 0;
    bottom: 50px;
}

.home-posts .container .row .main-carousel .carousel-caption .type {
    display: inline-block;
    padding: 3px 7px;
    float: left;
    background-color: #EF4836;
    color: #F9F9F9;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    letter-spacing: .3px;
    cursor: pointer;
    text-shadow: none;
}

.home-posts .container .row .main-carousel .carousel-caption .post-meta { display: inline-block; float: right; font-size: .8em; }
.home-posts .container .row .main-carousel .carousel-caption .post-meta > .fa { padding-right: 10px; color: #DEDEDE; }

.home-posts .container .row .main-carousel .carousel-caption .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5px;
    line-height: .5;
    color: #DEDEDE;
}

.home-posts .container .row .main-carousel .carousel-caption a { color: #F9F9F9; text-decoration: none; }

.home-posts .container .row .main-carousel .carousel-caption a h3 {
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
}

.home-posts .container .row .main-carousel .carousel-caption p {
    font-size: .85em;
    font-family: 'Droid Sans', Arial, Tahoma;
    line-height: 20px;
    text-align: left;
    margin-bottom: 15px;
}
/* End Main Carousel */

/* Start Latest Posts */
.home-posts { padding: 20px 0; }
.home-posts .container .row { margin-right: -16px; margin-left: -15px; }
.home-posts .container .row .item { padding: 0; }
.home-posts .container .row .item .content { margin-bottom: 2px; margin-right: 2px; overflow: hidden; position: relative; cursor: pointer; }
.home-posts .container .row .item .content img { display: block; width: 100%; height: auto; min-height: 200px; }

.home-posts .container .row .item .content .about-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 58%;
    left: 0;
    padding: 10px 14px;
    color: #F9F9F9;
    background-color: rgba(0,0,0,.5);
    transition: all .3s ease-in-out .2s;
}

.home-posts .container .row .item:hover .content .about-photo { top: 0; }
.home-posts .container .row .item .content .about-photo .squer { display: inline-block; width: 10px; height: 10px; background-color: #EF4836; }

.home-posts .container .row .item .content .about-photo .type {
    text-transform: uppercase;
    padding: 0 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: .85em;
}

.home-posts .container .row .item .content .about-photo a { text-decoration: none; color: #F9F9F9; }

.home-posts .container .row .item .content .about-photo a h5 {
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000;
}

.home-posts .container .row .item .content .about-photo .hr {
    display: block;
    width: 0;
    height: 2px;
    background-color: #F9F9F9;
    margin-bottom: 10px;
    transition: all .3s ease-in-out .5s;
}

.home-posts .container .row .item:hover .content .about-photo .hr { width: 50%; }

.home-posts .container .row .item .content .about-photo p {
    font-size: .85em;
    font-family: 'Droid Sans', Arial, Tahoma;
    line-height: 20px;
    opacity: 0;
    transition: all .5s ease-in-out .5s;
}

.home-posts .container .row .item:hover .content .about-photo p { opacity: 1; }
/* End Latest Posts */

/* Start Home Page Content */
.home-content { width: 100%; }
.home-content .container { padding: 0 20px; }
.home-content .container .side { margin-bottom: 20px; }

.home-content .container .side .title {
    width: 100%;
    background-color: #23282D;
    color: #F9F9F9;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    position: relative;
}

.home-content .container .side .title > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #EF4836;
    border: 1px solid #F9F9F9;
    position: absolute;
    top: 41.5%;
    left: -17px;
    transform: rotate(45deg) translateY(-50%);
}

/* End Home Page Content */

/* Start Photography Posts */
.home-content .photography .row { padding: 20px 0;  margin-left: 0; margin-right: 0; }
.home-content .photography .row .main-post { position: relative; }
.home-content .photography .row > div { padding-left: 0; padding-right: 0; }
.home-content .photography .row .left { padding-right: 10px; }
.home-content .photography .row .right { padding-left: 10px; }
.home-content .photography .row .main-post a { color: #F9F9F9; text-decoration: none; }

.home-content .photography .row .main-post a h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
    color: #23282D;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home-content .photography .row .main-post img { cursor: pointer;}
.home-content .photography .row .main-post:hover h3 { color: #EF4836; }

.home-content .photography .row .main-post p {
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D0D0D0;
}

.home-content .photography .row .main-post span {
    position: absolute;
    top: 94%;
    right: 0;
    padding-top: 3px;
    margin-bottom: 20px;
    color: #444;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s ease-in-out;
}

.home-content .photography .row .main-post span:hover { color: #EF4836; }
.home-content .photography .row .media-object a { text-decoration: none; color: #23282D; }

.home-content .photography .row .media-object a .media-heading {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 20px;
    font-weight: bold;
    color: #23282D;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home-content .photography .row .media-object .media:hover .media-heading { color: #EF4836; }
.home-content .photography .row .media-object .media .post-meta { display: inline-block; float: left; font-size: .7em; margin-top: 5px; }
.home-content .photography .row .media-object .media .post-meta > .fa {  padding-right: 10px; color: #676767 }

.home-content .photography .row .media-object .media .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5px;
    line-height: .5;
    color: #676767;
}

.home-content .photography .row .media-object .media { margin-bottom: 20px; }
.home-content .photography .row .large-post { position: relative; cursor: pointer; }

.home-content .photography .row .large-post .photo {
    min-height: 275px;
    background-image: url("../images/Home/design/pexels-photo-202982.jpeg");
    background-size: cover;
    background-position: center;
}

.home-content .photography .row .large-post .about-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #F9F9F9;
    background-color: rgba(0,0,0,.5);
    transition: all .5s ease-in-out;
}

.home-content .photography .row .large-post .about-photo:hover { background-color: rgba(0,0,0,.7); }

.home-content .photography .row .large-post .about-photo .type {
    display: inline-block;
    padding: 3px 7px;
    float: left;
    background-color: #EF4836;
    color: #F9F9F9;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    letter-spacing: .3px;
    cursor: pointer;
    text-shadow: none;
}

.home-content .photography .row .large-post .about-photo a { text-decoration: none; color: #F9F9F9; }

.home-content .photography .row .large-post .about-photo a h5 {    
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000;
}

.home-content .photography .row .large-post .about-photo .hr {
    display: block;
    width: 30%;
    height: 2px;
    background-color: #F9F9F9;
    margin-bottom: 10px;
}

.home-content .photography .row .large-post .about-photo p {
    font-size: .9em;
    font-family: 'Droid Sans', Arial, Tahoma;
    line-height: 20px;
}

.home-content .photography .row .large-post .about-photo .post-meta {
    display: inline-block;
    font-size: .8em;
    line-height: 1.8;
    position: absolute;
    bottom: 10px;
}

.home-content .photography .row .large-post .about-photo .post-meta > .fa {  padding-right: 15px; color: #F9F9F9; }

.home-content .photography .row .large-post .about-photo .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 7px;
    line-height: .5;
    color: #F9F9F9;
}

.home-content .photography .row .large-post .about-photo > button {
    background-color: transparent;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: .8em;
    border: 1px solid #999;
    position: absolute;
    top: 85%;
    right: 15px;
    outline: none;
    transition: all .3s ease-in-out;
}

.home-content .photography .row .large-post .about-photo > button:hover { background-color: #EF4836; border-color: #EF4836; }
/* End Photography Posts */

/* Start Fashion */
.fashion .row { padding: 0 15px; }

.fashion .main-post { 
    margin: 20px 0;
    position: relative;
    height: 400px;
    background-image: url("../images/Home/fashion/1.jpg");
    background-size: cover;
}

.fashion img { cursor: pointer; }

.fashion .main-post .the-post {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 30px; 
}

.fashion .main-post .the-post a { text-decoration: none; color: #F9F9F9; }

.fashion .main-post .the-post a h4 {
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #F9F9F9;
    margin-bottom: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 0 #000;
    transition: all .2s ease-in-out;
}

.fashion .main-post .the-post .post-meta { display: block; font-size: .7em; margin-top: 15px; margin-bottom: 15px; }
.fashion .main-post .the-post .post-meta > .fa { padding-right: 10px; color: #CCC; }
.fashion .main-post .the-post .post-meta > .fa > span { font-family: 'Open Sans', sans-serif; padding-left: 5px; line-height: .5; color: #CCC; }

.fashion .main-post .the-post p {
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #FDFDFD;
    margin-bottom: 20px;
}

.fashion .main-post .the-post button {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    background-color: transparent;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.fashion .main-post .the-post button:hover { background-color: #EF4836; border-color: #EF4836; }
.fashion .row .left { padding: 0; padding-right: 10px; }
.fashion .row .right { padding: 0; padding-left: 10px; }

.fashion .post p {
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(24,45,55,0.2);
}

.fashion .post a { text-decoration: none; color: #23282D; }

.fashion .post a h3 {
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.fashion .post:hover h3 { color: #EF4836; }

.fashion .post span {
    position: absolute;
    bottom: 1%;
    right: 3%;
    padding-top: 3px;
    margin-bottom: 20px;
    color: #444;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s ease-in-out;
}

.fashion .post span:hover { color: #EF4836; }

.fashion .load-more {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: .8em;
    color: #F9F9F9;
    background-color: #23282D;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.fashion .load-more:hover { background-color: #EF4836; }
.hide-element { display: none; }
/* End Fashion */

/* Start Latest Galleries */
.gallery-content { margin: 20px 0; padding-left: 15px; }
.home-content .container .row .gallery-content .row { margin-right: -5px; }
.gallery-content .item { padding-left: 0; padding-right: 5px; margin-bottom: 5px; }
.gallery-content .item .post-image { position: relative; overflow: hidden; }

.gallery-content .item .post-image .type {
    display: inline-block;
    padding: 4px 8px;
    background-color: #EF4836;
    color: #F9F9F9;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    letter-spacing: .3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: none;
}

.gallery-content .item .post-image .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    font-size: 1em;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.gallery-content .item:hover .post-image .icon { box-shadow: 0 0 15px #666; }
.gallery-content .item .post-image img { transition: all .3s ease-in-out; }
.gallery-content .item:hover .post-image img { transform: scale(1.1, 1.1); }

.gallery-content .item .post-image .post-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 36%;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(0 ,0 ,0 ,.9) 0, rgba(0, 0, 0, .0001) 100%);
    color: #F9F9F9;
}

.gallery-content .item .post-image .post-meta h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5)
}

.gallery-content .item .post-image .post-meta .post-meta-icons {
    display: inline-block;
    width: 100%;
    font-size: .8em;
    line-height: 1.8;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.gallery-content .item .post-image .post-meta .post-meta-icons > .fa { padding-right: 15px; color: #CCC; }

.gallery-content .item .post-image .post-meta .post-meta-icons > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 7px;
    line-height: .5;
    color: #CCC;
}
/* End Latest Galleries */

/* Start Life Style */
.life-style { margin-top: -5px; }
.home-content .life-style .row { padding: 0 15px; padding-top: 20px; }
.home-content .life-style .row .main-post { position: relative; }
.home-content .life-style .row .left { padding: 0; padding-right: 10px; }
.home-content .life-style .row .right { padding: 0; padding-left: 10px; }
.home-content .life-style .row .main-post img { width: 100%; cursor: pointer; max-height: 210px; }
.life-style .controls { margin-bottom: 20px; }
.life-style .controls > a { text-decoration: none; }
.life-style .controls > a > span { border: 1px solid #D0D0D0; padding: 7px; color: #EF4836; transition: all .3s ease-in-out; }
.life-style .controls > a > span:hover { background-color: #EF4836; border-color: #EF4836; color: #F9F9F9; }
.home-content .life-style .row .main-post a { color: #F9F9F9; text-decoration: none; }

.home-content .life-style .row .main-post a h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
    color: #23282D;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home-content .life-style .row .main-post:hover h3 { color: #EF4836; }
.home-content .life-style .row .main-post p { font-size: .9em; font-family: 'Open Sans', sans-serif; line-height: 20px; color: #444; }

.home-content .life-style .row .main-post .post-meta-icons {
    display: inline-block;
    width: 100%;
    font-size: .8em;
    line-height: 1.8;
    margin-bottom: 5px;
}

.home-content .life-style .row .main-post .post-meta-icons > .fa { padding-right: 15px; color: #999; }

.home-content .life-style .row .main-post .post-meta-icons > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 7px;
    line-height: .5;
    color: #999;
}

.home-content .life-style .row .media-object .media { margin-bottom: 20px; }
.home-content .life-style .row .media-object a { text-decoration: none; }

.home-content .life-style .row .media-object .media-heading {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .85em;
    line-height: 20px;
    font-weight: bold;
    color: #23282D;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home-content .life-style .row .media-object .media:hover .media-heading { color: #EF4836; }
.home-content .life-style .row .media-object .media .post-meta { display: inline-block; float: left; font-size: .7em; margin-top: 5px; }
.home-content .life-style .row .media-object .media .post-meta > .fa { padding-right: 10px; color: #676767; }

.home-content .life-style .row .media-object .media .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5px;
    line-height: .5;
    color: #676767;
}

/* End Life Style */

/* Start Recent Posts */
.recent-posts > .row { padding: 20px 30px; padding-bottom: 0; }
.recent-posts .post { margin-bottom: 20px; }
.recent-posts .post .post-img { padding: 0; padding-right: 10px;  }
.recent-posts .post .post-body { padding: 0; padding-left: 10px; }
.recent-posts .post .post-img img { width: 100%; }
.recent-posts .post .post-img { position: relative; }

.recent-posts .post .post-img .type {
    display: inline-block;
    padding: 4px 8px;
    background-color: #EF4836;
    color: #F9F9F9;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    letter-spacing: .3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: none;
}

.recent-posts .post .post-body a { text-decoration: none; color: #23282D; }

.recent-posts .post .post-body a h4 {
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.recent-posts .post:hover h4 { color: #EF4836; }
.recent-posts .post .post-body .post-meta { display: inline-block; font-size: .7em; margin-top: 5px; margin-bottom: 5px; }
.recent-posts .post .post-body .post-meta > .fa { padding-right: 10px; color: #676767; }

.recent-posts .post .post-body .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5px;
    line-height: .5;
    color: #676767;
}

.recent-posts .post .post-body p {
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.recent-posts .post .post-body button {
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: #23282D;
    color: #F9F9F9;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .5px;
    transition: all .3s ease-in-out;
}

.recent-posts .post .post-body button:hover { background-color: #EF4836; }

.recent-posts .load-more {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: .75em;
    color: #F9F9F9;
    background-color: #23282D;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.recent-posts .load-more:hover { background-color: #EF4836; }
/* End Recent Posts */

/* Start Mobile News */
.home-content .mobile .mobile-news { padding: 0 15px; padding-top: 20px; }
.media-right { padding-left: 0; }
.mobile .mobile-news .media { padding: 0; margin-top: 0; margin-bottom: 20px; }
.mobile .mobile-news .media .media-right .photo { position: relative; }

.mobile .mobile-news .media .media-right .photo .icon {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    line-height: 21px;
    text-align: center;
    font-size: .8em;
    padding-left: 3px;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.mobile .mobile-news .media .media-body a { text-decoration: none; }

.mobile .mobile-news .media .media-body .media-heading {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 20px;
    font-weight: bold;
    color: #23282D;
    padding-left: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.mobile .mobile-news .media:hover .media-heading { color: #EF4836; }
.mobile .mobile-news .media .post-meta { display: inline-block; padding-left: 10px; float: left; font-size: .7em; margin-top: 5px; }
.mobile .mobile-news .media .post-meta > .fa { padding-right: 10px; color: #676767; }

.mobile .mobile-news .media .post-meta > .fa > span {
    font-family: 'Open Sans', sans-serif; 
    padding-left: 5px;
    line-height: .5;
    color: #676767;
}

.home-content .mobile .mobile-news .media-object .media { margin-bottom: 20px; }
/* End Mobile News */

/* Start Right Area Content : ( Contact Us )*/
.contact .social { padding: 15px 0; overflow: hidden; }
.contact .social ul > li { width: 100%; margin-bottom: 5px; cursor: pointer; }
.contact .social ul > li:last-of-type { margin-bottom: 0; }

.contact .social ul > li > span {
    display: inline-block;
    line-height: 1.5;
    padding: 15px;
    padding-right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.contact .social ul > li > span:last-of-type { float: right; font-size: .9em; }
.contact .social ul > li i { width: 50px; height: 50px; line-height: 50px; color: #F9F9F9; text-align: center; }
.contact .social ul > li > a { text-decoration: none; }

/* Start Social Media Backgrounds */
.contact .social ul > li .fa-facebook { background-color: #3B5999; }
.contact .social ul > li .fa-twitter { background-color: #55ACEE; }
.contact .social ul > li .fa-google-plus { background-color: #DD4B39; }
.contact .social ul > li .fa-linkedin { background-color: #0077B5; }
.contact .social ul > li .fa-youtube { background-color: #CC181E; }
.contact .social ul > li .fa-rss { background-color: #F4834E; }
.contact .social ul > li .fa-pinterest { background-color: #D34F56; }
.contact .social ul > li .fa-instagram { background-color: #658EAF; }
.contact .social ul > li:hover span { color: #EF4836; }
/* End Social Media Backgrounds */

/* End Contact Us */

/* Start Follow Us */
.subscribe-form { padding: 20px 0; position: relative; margin-bottom: 40px; }

.subscribe-form input {
    width: 75%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid rgba(24,45,55,0.2);
    color: #676767;
    font-size: .9em;
    outline: none;
    position: absolute;
    left: 0;
}

.subscribe-form button {
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #23282D;
    color: #F9F9F9;
    text-transform: uppercase;
    font-size: .85em;
    position: absolute;
    right: 0;
    letter-spacing: .5px;
    transition: all .3s ease-in-out;
}

.subscribe-form button:hover { background-color: #EF4836; }
.subscribe-form input::-webkit-input-placeholder { letter-spacing: .5px; }
.subscribe-form input::-moz-input-placeholder { letter-spacing: .5px; }
.subscribe-form input::-o-input-placeholder { letter-spacing: .5px; }
.subscribe-form input::-ms-input-placeholder { letter-spacing: .5px; }
/* End Follow Us */

/* Start Categories */
.categories .categories-content { margin: 20px 0; }

.categories .categories-content ul > li {
    border: 1px solid #EEE;
    margin-bottom: 3px;
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 600;
    font-size: .9em;
    color: #23282D;
    cursor: pointer;
    border-radius: 0;
}

.categories .categories-content ul > li > span { color: #F9F9F9; background-color: #23282D; border-radius: 0; transition: all .2s ease-in-out; }
.categories .categories-content ul > li > a { text-decoration: none; color:#23282D; cursor: pointer; transition: all .2s ease-in-out; }
.categories .categories-content ul > li:hover > span { background-color: #EF4836; }
.categories .categories-content ul > li:hover > a { color: #EF4836; }
/* End Categories */

/* Start Ads Area */
.ads .ads-content { margin: 20px 0; overflow: hidden; }
.ads .ads-content img { width: 100%; max-height: 370px; }
.ads .ads-content a { padding: 0; }
.ads .ads-content a.visible-sm { padding-right: 0; }
.ads .last { margin-bottom: 0; }
/* End Ads Area */

/* Start Latest Videos */
.latest-videos .videos { margin: 0; margin-top: 20px; }
.latest-videos .videos .main-video { position: relative; overflow: hidden; margin-bottom: 20px; }
.latest-videos .videos .main-video a img { transition: all .3s ease-in-out; }
.latest-videos .videos .main-video:hover a img { transform: scale(1.1, 1.1); }

.latest-videos .videos .main-video .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    line-height: 31px;
    text-align: center;
    font-size: 1.1em;
    padding-left: 3px;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    z-index: 2;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
    text-shadow: 1px 1px 15px #23282D;
}

.latest-videos .videos .main-video .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #F9F9F9;
    padding: 10px 15px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    transition: all .3s ease-in-out;
}

.latest-videos .videos .main-video .overlay h4 {
    text-transform: uppercase;
    font-family: 'Droid Sans', Arial, Tahoma;
    line-height: 20px;
    font-size: 1.1em;
    font-weight: 600;
    color: #F9F9F9;
    text-shadow: 1px 1px 0 #000;
}

.latest-videos .videos { overflow: hidden; }

.latest-videos .videos .other-video {
    width: calc( 50% - 10px );
    height: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.latest-videos .videos .other-video img { width: 100%; min-height: 115px; max-height: 210px; transition: all .3s ease-in-out; }
.latest-videos .videos .other-video:hover img { transform: scale(1.1, 1.1); }
.latest-videos .videos .right { margin-right: 0; }

.latest-videos .videos .other-video .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F9F9F9;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.latest-videos .videos .other-video .icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 22px;
    padding: 0 7px;
    font-size: 1em;
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    z-index: 2;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
    transition: all .2s linear;
}

.latest-videos .videos .other-video:hover .overlay { opacity: 1; }

.latest-videos .videos .other-video:hover .icon {
    width: 40px;
    height: 40px;
    line-height: 38px;
    padding: 0 13px;
    font-size: 1.2em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
/* End Latest Videos */

/* Start Calender */
.calender .calender-content { margin: 20px 0; padding: 10px; padding-bottom: 0; border: 1px solid #EEE; }
.calender .calender-content .calendar_wrap { padding: 0; border: 0; outline: 0; vertical-align: baseline; background: 0 0; }
.calender .calender-content .calendar_wrap #wp-calendar { width: 100%; }
.calender .calender-content .calendar_wrap #wp-calendar caption { text-align: right; color: #23282D; font-size: .9em; margin-bottom: 15px; }
.calender .calender-content .calendar_wrap #wp-calendar thead { font-size: .75em; }
.calender .calender-content .calendar_wrap #wp-calendar thead th { padding-bottom: 10px; text-align: center; }
.calender .calender-content .calendar_wrap #wp-calendar tfoot #prev { padding-top: 10px; }
.calender .calender-content .calendar_wrap #wp-calendar tfoot #prev a { text-decoration: none; font-size: .85em; color: #23282D; cursor: pointer; }
.calender .calender-content .calendar_wrap #wp-calendar tfoot #prev a:hover { color: #EF4836; }
.calender .calender-content .calendar_wrap #wp-calendar tfoot #next { text-align: right; }
.calender .calender-content .calendar_wrap #wp-calendar tbody { color: #23282D; }

.calender .calender-content .calendar_wrap #wp-calendar tbody td {
    background: #F5F5F5;
    border: 1px solid #F9F9F9;
    text-align: center;
    padding: 8px;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

.calender .calender-content .calendar_wrap #wp-calendar tbody .pad { background: none !important; }
.calender .calender-content .calendar_wrap #wp-calendar tbody td:hover,
.calender .calender-content .calendar_wrap #wp-calendar tbody td.active { background-color: #EF4836; color: #F9F9F9; }
/* End Calender */

/* Start Latest Reviews */
.latest-reviews .reviews-content { margin: 20px 0; overflow: hidden; position: relative; }
.latest-reviews .reviews-content .item img { width: 100%; max-height: 300px; transition: all .3s ease-in-out; }
.latest-reviews .reviews-content .item:hover img { transform: scale(1.1, 1.1); }

.latest-reviews .reviews-content .item .carousel-caption {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-image: linear-gradient(to top, rgba(0 ,0 ,0 ,.9) 0, rgba(0, 0, 0, .0000001) 100%);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .3px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #F9F9F9;
    cursor: pointer;
    text-shadow: 1px 1px 0 #000;
    transition: all .2s ease-in-out;
}
/* End Latest Reviews */

/* Start Right Area Content : ( Weather )*/
.weather .weather-content { margin: 20px 0; }
.weather .weather-content .widget-container { background: #F1F8F9; padding: 10px; clear: both; }

.weather .weather-content .widget-container a {
    text-decoration: none;
    color: #23282D;
    opacity: .8;
    cursor: pointer;
    float: right;
    transition: all .2s ease-in-out;
}

.weather .weather-content .widget-container a:hover { color: #EF4836; }

.weather .weather-content .widget-container span {
    opacity: .8;
    float: left;
    color: #23282D;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.weather .weather-content .weather-wrap { clear: both; overflow: hidden; }

.weather .weather-content .weather-current-temp {
    padding: 10px 0;
    width: 35%;
    float: left;
    font-size: 44px;
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    color: #23282D;
    opacity: .6;
}

.weather .weather-content .weather-icon { position: relative; margin: 0 auto; }
.weather .weather-content .weather-icon i { display: block; line-height: 1.5; }
.weather .weather-content .weather-current-temp sup { font-size: 24px; top: -.6em; padding-left: 3px; }
.weather .weather-content .weather-todays-stats { float: right; padding: 14px 5%; line-height: 1.4em; width: 65%; }

.weather .weather-content .weather_city {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    color: #23282D;
    opacity: .9;
}

.weather .weather-content .weather_desc {
    font-weight: 700;
    color: #23282D;
    opacity: .6;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.weather .weather-content .weather_humidty,
.weather .weather-content .weather_wind,
.weather .weather-content .weather_highlow {
    color: #23282D;
    opacity: .8;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.weather .weather-content .weather_days_5 { padding: 15px 0; background-color: #23282D; overflow: hidden; }

.weather .weather-content .weather_days_5 .weather-forecast-day {
    float: left;
    color: #F9F9F9;
    width: 20%;
    padding: 0 5px;
    text-align: center;
    border-right: 1px solid rgba(208, 208, 208, .1);
}

.weather .weather-content .weather_days_5 .weather-forecast-day:last-of-type { border: none; }
.weather .weather-content .weather_days_5 .weather-icon { margin-bottom: 5px; }
.weather .weather-content .weather_days_5 .weather-forecast-day .weather-current-temp sup { font-size: 24px; top: -.6em; padding-left: 3px; }

.weather .weather-content .weather_days_5 .weather-forecast-day-abbr {
    font-weight: 700;
    color: #F9F9F9;
    opacity: .8;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.weather .weather-content .weather_days_5 .weather-forecast-day-temp {
    color: #F9F9F9;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
}
/* End Weather */

/* Start Footer */
.footer { background-color: #23282D; padding: 50px 0; overflow: hidden; border-top: 3px solid #EF4836; }
.footer .about .about-us > p { color: #999; font-size: .9em; line-height: 20px; margin-bottom: 20px; }
.footer .about .about-us { border-bottom: 1px solid rgba(255, 255, 255, .15); margin-bottom: 20px; }
.footer div h4 { color: #EEE; text-transform: uppercase; font-weight: 600; font-size: 1em; margin-bottom: 30px; }
.footer .blog-archive h4 { margin-bottom: 20px; }
.footer .blog-archive select { width: 100%; padding: 10px; color: #23282D; border: 1px solid #DDD; outline: none; margin-bottom: 10px; }

/* Start Recent Posts */
.footer .recent-posts .media { 
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    cursor: pointer;
}

.footer .recent-posts .media .media-object { width: 80px; height: 80px; }
.footer .media-heading { color: #EEE; font-weight: 600; font-size: 1em; text-transform: uppercase; line-height: 20px; transition: all .2s ease; }
.footer .recent-posts .media:hover .media-heading { color: #EF4836; }
.footer .recent-posts .media p { font-size: .9em; color: #999; }
.footer .recent-posts .media .media-date { font-size: .75em; color: #EEE; }
/* End Recent Posts */

/* Start Categories */
.footer .categories { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, .15); }
.footer .categories ul > li { display: inline-block; }

.footer .categories ul > li > a {
    padding: 0;
    padding-left: 10px;
    border: 1px solid rgba(255, 255, 255, .15);
    color: #999;
    text-decoration: none;
    font-size: .85em;
    width: auto;
    float: left;
    margin-right: 2px;
    transition: all .2s ease-in-out;
}

.footer .categories ul > li > a:hover { color: #EF4836; border-color: #EF4836; }

.footer .categories ul > li > a .badge {
    border-radius: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .15);
    margin-left: 7px;
    position: relative;
    right: 0;
    transition: all .2s ease-in-out;
}

.footer .categories ul > li:hover .badge { background-color: #EF4836; }
/* End Categories */

/* Start Follow US */
.footer .follow h4 { margin-bottom: 15px; }
.footer .follow p { font-size: .9em; color: #999; margin-bottom: 20px; }
.footer .follow form { position: relative; }
.footer .follow input { width: 100%; padding: 12px; font-size: .8em; background: rgba(0, 0, 0, .15); border: none;outline: none;color: #999; }

.footer .follow button {
    background-color: #161B1F;
    border: none;
    outline: none;
    color: #FFF;
    font-size: .9em;
    letter-spacing: .5px;
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.footer .follow button:hover { background-color: #EF4836; }
.footer .follow input::-webkit-input-placeholder { color: #999; letter-spacing: .5px; }
.footer .follow input::-moz-input-placeholder { color: #999; letter-spacing: .5px;  }
.footer .follow input::-o-input-placeholder { color: #999; letter-spacing: .5px; }
.footer .follow input::-ms-input-placeholder { color: #999; letter-spacing: .5px; }
/* End Follow Us */

/* Start Flicker Feed */
.footer .flicker-feed { padding-right: 0; }
.footer .flicker-feed .photos ul > li > a { width: 50%; display: inline-block; float: left; padding: 3px; position: relative; }
.footer .flicker-feed .photos ul > li > a img { opacity: .8; width: 100%; height: auto; }
.footer .flicker-feed .photos ul > li > a img:hover { opacity: 1; }
/* End Flicker Feed */

/* Start Copyright */
.copyright { padding: 20px 0; background-color: #161B1F; color: #AAA; font-size: .85em; letter-spacing: .5px; }
.copyright > a { color: #FFF; text-decoration: none; }
.copyright > a:hover { color: #EF4836; }
/* End Copyright */

/* End Footer */

/* Start Go To Top */
.go-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background-color: #EF4836;
    border-bottom: none;
    position: fixed;
    bottom: 55px;
    right: 0;
    cursor: pointer;
    display: none;
    opacity: .8;
    transition: all .3s ease-in-out;
}

.go-to-top:hover { opacity: 1; }
/* End Go To Top */

/* Start Blog Style */
.last-post { padding-bottom: 40px; border-bottom: 1px solid #EEE; }
.pagination { margin-bottom: 0; }
.bottom-pagination .pagination li a { color: #EF4836; border: none;border: 1px solid #EEE;border-radius: 0;margin: 0 5px;transition:all .3s ease; }
.bottom-pagination .pagination .start a,
.bottom-pagination .pagination li a:hover { color: #FFF; background-color: #EF4836; }
/* End Blog Style */

/* Start Error Page Style */
.error { color: #EF4836; font-size: 13em; font-weight: 700; text-transform: capitalize; margin-bottom: 20px; }
.not-found { color: #1C333E; font-size: 3em; font-weight: 700; text-transform: capitalize; }
.sory { color: #1C333E; font-size: 1.1em; text-transform: capitalize; }
.error-search input { width: 36%; height: 40px; padding: 10px; border: 1px solid #EF4836; margin: 20px 0 50px; outline: none; color: #888; }
.error-search button {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    background-color: #1C333E;
    border: none;
    outline: none;    
    transition:all .3s ease;
}

.error-search button:hover { background-color: #EF4836; }
/* End Error Page Style */